<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <script>
        function handle() {

            let formEl = document.getElementById('form');
            let headers = new Headers();
            headers.set('Content-Type', 'application/json');
            let formData = {
                num1: document.getElementById('num1').value,
                num2: document.getElementById('num2').value,
                operator: document.getElementById('operations').value
            };

            let data = JSON.stringify(formData);

            let url = 'http://localhost:8080/calculate';

            let request = new Request(url, {
                method: 'post',
                headers,
                body: data
            });

            let http_request = new XMLHttpRequest();
            http_request.open('POST', '/calculate', true);
            http_request.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            http_request.onreadystatechange = handleChanges;
            http_request.send(data);

            function handleChanges() {
                if (http_request.readyState == 4) {
                    if (http_request.status == 200) {
                        let data = JSON.parse(http_request.response);
                        let result = `${data.num1} ${data.operator} ${data.num2} = ${data.result}`;
                        let p = document.getElementsByTagName('p')[0];
                        p.textContent = result;
                    }
                }
            }
        }
    </script>
</head>

<body>
    <h2>Calculator </h2>
    <form id='form'>
        <div>
            <input type='number' id='num1' name='num1' placeholder='First number'>
            <input type='number' id='num2' name='num2' placeholder='Second number'>
            <select id='operations'>
                <option value='add'>Add</option>
                <option value='substract'>Substract</option>
                <option value='multiply'>Multiply</option>
                <option value='divide'>Divide</option>
            </select>
            <input type='button' value='Calculate' onclick='handle()'>
        </div>
    </form>
    <p></p>
</body>

</html>