<div class="footer">
    <p>2020</p>
</div>

<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: lightgrey;
      text-align: center;
    }
</style>

    